<% include partials/header %>
<!-- <div class="test">
  <h1 class="display-4">Hello, world!</h1>
</div> -->
<div class="container">

  <!-- <div class="row">
    <% articles.forEach(function(e){ %>
    <%if(!e.saved) {%>
    <div class="col-lg-3 col-md-4 my-3">
      <div class="card mx-auto" style="width: 17rem; height: 20rem;">
        <a href="<%= e.url %>">
          <div class="card-body">
            <h5 class="card-title">
              <%= e.headLine %>
            </h5>
            <p class="card-text">
              <%= e.summary.slice(0, 100)%>...
            </p>
            <a href="#" class="btn btn-primary save-article" data-id=<%=e._id %> </a>Save Article
        </a>
      </div>
      </a>
    </div>
  </div>
  <% } %>
  <% }) %>
</div> -->
</div>
<% include partials/footer %>