<% include partials/header %>

<nav class="navbar navbar-expand-lg navbar-dark default-color">
    <a class="navbar-brand py-3" href="#">Miami Herald Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/saved">Saved</a>
            </li>

        </ul>


    </div>

</nav>

<div class="container mt-3" id="results">

</div>
<div class="modal fade show" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                </ul>
                <form>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Note:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary newNote">Submit</button>
                <button type="button" class="btn btn-secondary closeIt" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="../javascripts/app.js"></script>
<script>  getArticles("saved");</script>
<% include partials/footer %>