

/* .test {
  background-image: url("../images/newsPaper.jpg") no-repeat center center;
  background-size: cover;
  height: 300px;
  width: 100%;
} */

.card{
  position: relative;
}

.save-article, .notes{
  position: absolute;
  bottom: 10;
}

.delete{
  position: absolute;
  bottom: 10;
  right: 20;
}
